OFBIZ_SOURCE=/absolute/path/to/ofbiz-framework
OFBIZ_URL=https://ofbiz:8443/webtools/control/checkLogin
OFBIZ_USERNAME=admin
OFBIZ_PASSWORD=ofbiz
BURP_BRIDGE_TOKEN=change-this-long-random-token
BURP_BRIDGE_PORT=1338
BURP_PROXY_PORT=8080
DISPLAY=:0
